*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--regular-font);
  overflow-x: hidden;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway__light";
  src: url("../../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Raleway__medium";
  src: url("../../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway__semibold";
  src: url("../../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Raleway__bold";
  src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  margin-bottom: 0.25em;
  font-size: 4.8rem;
  font-family: var(--light-font);
}
.header__text {
  font-size: 1.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .transactions, .container .options {
  width: 90%;
}
.container .transactions__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #748CAB;
}
.container .transactions__item-name {
  font-size: 1.8rem;
  font-family: var(--medium-font);
}
.container .transactions__item-name i {
  margin-right: 0.35em;
}
.container .transactions__item-amount {
  display: flex;
  align-items: center;
}
.container .transactions__item-amount-text {
  font-size: 1.8rem;
  font-family: var(--medium-font);
}
.container .transactions__item-amount-btn {
  font-size: 1.8rem;
  border: none;
  background: none;
  color: #748CAB;
  padding: 1.5em;
  padding-right: 0;
  cursor: pointer;
}
.container .transactions__item:last-child {
  border-bottom: none;
}
.container .options__balance {
  margin-bottom: 0.5em;
  font-size: 6rem;
  text-align: center;
}
.container .options__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}
.container .options__controls-btn {
  padding: 1em;
  border: 2px solid #748CAB;
  border-radius: 10px;
  background: none;
  color: #f0ebd8;
  font-size: 1.4rem;
  transition: border-color 300ms ease, color 300ms ease;
  cursor: pointer;
}
.container .options__controls-btn i {
  margin-right: 0.25em;
}
.container .options__controls-btn:focus, .container .options__controls-btn:hover {
  outline: none;
}
.container .options__controls-btn--add:focus, .container .options__controls-btn--add:hover {
  border-color: #f0ebd8;
}
.container .options__controls-btn--deleteAll:focus, .container .options__controls-btn--deleteAll:hover {
  border-color: #bc4749;
  color: #bc4749;
}
.container .options__style-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.container .options__style-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .options__style-button {
  padding: 2em;
  border: 2px solid #f0ebd8;
  border-radius: 50%;
  transition: transform 300ms ease;
  cursor: pointer;
}
.container .options__style-button--dark {
  background-color: #0d1321;
}
.container .options__style-button:hover {
  transform: scale(1.1);
}
.container .options__style-button:focus {
  outline: none;
  border-color: #748CAB;
}
.container .incomes-box, .container .expenses-box {
  padding: 0 0.5em;
  margin-bottom: 2em;
}
.container .incomes-box__title, .container .expenses-box__title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2.4rem;
  font-family: var(--bold-font);
}
.container .incomes-box__title {
  color: #386641;
}
.container .incomes-box__item-amount-text {
  color: #386641;
}
.container .expenses-box__title {
  color: #bc4749;
}
.container .expenses-box__item-amount-text {
  color: #bc4749;
}

.transaction-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, #3E5C76 0%, #1D2D44 75%);
  transform: translateX(102%);
  transition: transform 300ms ease-in-out;
  z-index: 10;
}
.transaction-panel.active {
  transform: translateX(0);
}
.transaction-panel__xmark {
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 1em;
  background: none;
  border: 2px solid transparent;
  border-radius: 10px;
  z-index: 11;
  cursor: pointer;
}
.transaction-panel__xmark i {
  color: #f0ebd8;
  font-size: 3rem;
  transition: transform 300ms ease;
}
.transaction-panel__xmark i:hover {
  transform: scale(1.2);
}
.transaction-panel__xmark:focus {
  outline: none;
  border: 2px solid #f0ebd8;
}
.transaction-panel__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.transaction-panel__form .section-title {
  margin-bottom: 1.2em;
  text-transform: uppercase;
  font-size: 2rem;
}
.transaction-panel__control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 90%;
}
.transaction-panel__label {
  margin-bottom: 0.25em;
}
.transaction-panel small {
  margin-bottom: 0.75em;
  font-style: italic;
  text-align: center;
}
.transaction-panel__input, .transaction-panel__select, .transaction-panel__button {
  padding: 0.5em 1em;
  border: 2px solid #f0ebd8;
  border-radius: 10px;
  background: none;
  color: #f0ebd8;
  font-family: var(--regular-font);
  font-size: 1.6rem;
}
.transaction-panel__input:focus, .transaction-panel__select:focus, .transaction-panel__button:focus {
  outline: none;
}
.transaction-panel__input, .transaction-panel__box, .transaction-panel__buttons {
  width: 100%;
}
.transaction-panel__box {
  position: relative;
}
.transaction-panel__select {
  width: 100%;
  background-color: #f0ebd8;
  color: #0d1321;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.transaction-panel__arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.5em 1em;
  background: linear-gradient(to right bottom, #3E5C76 0%, #1D2D44 75%);
  color: #f0ebd8;
  border: 2px solid #f0ebd8;
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}
.transaction-panel__error {
  display: none;
  color: #bc4749;
  font-size: 1.4rem;
}
.transaction-panel__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.transaction-panel__button {
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}
.transaction-panel__button:focus, .transaction-panel__button:hover {
  background-color: #f0ebd8;
  color: #0d1321;
}

@media screen and (min-width: 375px) {
  .transaction-panel__xmark {
    padding: 2em;
  }
  .transaction-panel__xmark i {
    font-size: 4rem;
  }
  .transaction-panel__control-box {
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width: 576px) {
  .header {
    height: 260px;
  }
  .header__title {
    font-size: 6.4rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .section-title {
    margin-bottom: 1em;
    font-size: 3.6rem;
  }
  .transaction-panel__xmark {
    top: 2em;
    left: 2em;
  }
  .transaction-panel__xmark i {
    font-size: 5rem;
  }
  .transaction-panel__form .section-title {
    margin-bottom: 3rem;
  }
  .transaction-panel__control-box {
    margin-bottom: 2.4em;
  }
  .transaction-panel__label {
    font-size: 2.4rem;
  }
  .transaction-panel__input, .transaction-panel__select, .transaction-panel__button {
    font-size: 2rem;
  }
  .transaction-panel__arrow {
    padding: calc(1em - 3px) 1em;
  }
  .transaction-panel__input, .transaction-panel__box, .transaction-panel__error .transaction-panel__buttons {
    width: 80%;
  }
  .transaction-panel__error {
    width: 80%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }
  .container .section-title {
    font-size: 3.6rem;
    margin-bottom: 1em;
  }
  .container .transactions {
    width: 50%;
  }
  .container .transactions .incomes-box, .container .transactions .expenses-box {
    padding: 1em;
    border: 2px solid #748CAB;
    border-radius: 10px;
  }
  .container .options {
    width: 30%;
  }
  .transaction-panel .section-title {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 340px;
  }
  .header__title {
    font-size: 8rem;
  }
  .header__text {
    font-size: 3.6rem;
  }
  .container .section-title {
    font-size: 4.2rem;
  }
  .container .transactions .incomes-box, .container .transactions .expenses-box {
    padding: 2em;
  }
}
:root {
  --regular-font: "Raleway";
  --light-font: "Raleway__light";
  --medium-font: "Raleway__medium";
  --semibold-font: "Raleway__semibold";
  --bold-font: "Raleway__bold";
}

body {
  background-color: #0d1321;
  color: #f0ebd8;
}
body .section-title {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2.6rem;
  font-family: var(--light-font);
}
body .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */