@use "./utilities" as utils;
@use "./reset";

:root {
  --regular-font: "Raleway";
  --light-font: "Raleway__light";
  --medium-font: "Raleway__medium";
  --semibold-font: "Raleway__semibold";
  --bold-font: "Raleway__bold";
}

body {
  background-color: utils.$bgColor;
  color: utils.$textColor;
}