@use "./reset";
@use "./components/" as components;
@use "./breakpoints/" as breakpoints;

:root {
  --regular-font: "Raleway";
  --light-font: "Raleway__light";
  --medium-font: "Raleway__medium";
  --semibold-font: "Raleway__semibold";
  --bold-font: "Raleway__bold";

  --darkColor: #0d1321;
  --lightColor: #f0ebd8;
}

body {
  background-color: var(--darkColor);
  color: var(--lightColor);

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em;
    position: absolute;
    bottom: 0;
  }
}
