@use "../utilities/" as utils;

.confirmation-modal {
  @include utils.flexLayout(column, center, center);
  @include utils.modalStyles;

  &--open {
    display: flex;
  }

  &__shadow {
    background-color: utils.$modalShadow;
  }

  &__content {
    @include utils.flexLayout(column, center, center);
    @include utils.modalContentStyles(utils.$lightColor, utils.$darkColor, utils.$secondColor);
  }

  &__text {
    font-size: 2rem;
    text-align: center;
    font-family: var(--medium-font);
  }

  &__buttons {
    @include utils.flexLayout(row, center, center);
    gap: 2em;
  }

  &__button {
    @include utils.buttonStyles(1em, 1em, 1.4rem, none);
    color: utils.$darkColor;
    font-family: var(--medium-font);

    i {
      margin-right: .25em;
    }

    &:hover {
      color: utils.$lightColor;
    }

    &:focus {
      outline: none;
      border-color: utils.$firstColor;
    }

    &--confirm {
      border-color: utils.$redColor;
      color: utils.$redColor;

      &:hover {
        border-color: utils.$redColor;
        background-color: utils.$redColor;
      }
    }

    &--cancel {
      &:hover {
        border-color: utils.$firstColor;
        background-color: utils.$firstColor;
      }
    }
  }
}