@media screen and (min-width: 576px) {
  .header {
    height: 260px;

    &__title {
      font-size: 6.4rem;
    }
    &__text {
      font-size: 2.6rem;
    }
  }

  .section-title {
    font-size: 3.6rem;
  }
}