@use "../utilities/colors" as colors;

@mixin flexLayout($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin selectBoxArrowStyles($radiusTopRight, $radiusBottomRight) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to right bottom, colors.$secondColor 0%, colors.$thirdColor 75%);
  border: 2px solid colors.$lightColor;
  border-radius: 0 $radiusTopRight $radiusBottomRight 0;
  pointer-events: none;
}

@mixin buttonStyles($paddingY, $paddingX, $fontSize, $borderColor) {
  padding: $paddingY $paddingX;
  background: none;
  border: 2px solid $borderColor;
  border-radius: 8px;
  font-size: $fontSize;
  transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
  cursor: pointer;
}

@mixin modalStyles {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin modalContentStyles {
  width: 90%;
  max-width: 700px;
  gap: 2em;
  padding: 1em;
  border-radius: 8px;
  background-color: colors.$lightColor;
  color: colors.$darkColor;
  border: 2px solid colors.$secondColor;
}