@use "../utilities/" as utils;

@media screen and (min-width: 992px) {
  .header {
    height: 340px;

    &__title {
      font-size: 8rem;
    }
    &__text {
      font-size: 3.6rem;
    }
  }

  .container {
    .section-title {
      font-size: 3.8rem;
    }

    .transactions {
      .incomes-box, .expenses-box {
        padding: 2em;
      }
    }

    .options {
      &__controls {
        @include utils.flexLayout(row, center, center);
        gap: 2em;

        &-btn {
          width: initial;
          font-size: 1.4rem;
          
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .transactions__item-amount-text, .transactions__item-amount-btn {
      font-size: 2rem;
    }

    .incomes-box, .expenses-box {
      &__title {
        font-size: 3rem;
      }
    }

    .options {
      &__controls {
        &-btn {
          font-size: 1.6rem;
        }
      }
    }
  }
}