@use "../utilities/" as utils;

.edition-modal {
  @include utils.flexLayout(column, center, center);
  @include utils.modalStyles;

  &.active {
    display: flex;
  }

  &__shadow {
    background-color: utils.$modalShadow;
  }

  &__form {
    @include utils.flexLayout(column, center, center);
    @include utils.modalContentStyles(utils.$secondColor, utils.$lightColor, utils.$darkColor);

    .section-title {
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__control-box, &__buttons {
    @include utils.flexLayout(column, center, center);
    width: 100%;
  }

  &__label {
    margin-bottom: .25em;
  }

  small {
    margin-bottom: .75em;
    text-align: center;
  }

  &__input, &__select, &__button {
    @include utils.buttonStyles(.75em, 1.5em, 1.6rem, utils.$lightColor);
    color: utils.$lightColor;
    transition: none;
    cursor: auto;

    &:focus {
      outline: none;
      border-color: utils.$thirdColor;
    }
  }

  &__input {
    width: 90%;
  }

  &__select-box {
    width: 90%;
    position: relative;
  }

  &__select {
    width: 100%;
    appearance: none;
    cursor: pointer;
  }

  &__arrow {
    @include utils.selectBoxArrowStyles(utils.$secondColor, 8px, 8px);
    padding: 0 1em;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: utils.$lightColor;
    }
  }

  &__buttons {
    flex-direction: row;
    gap: 2em;
  }

  &__button {
    font-family: var(--medium-font);
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    cursor: pointer;

    i {
      margin-right: .25em;
    }

    &:hover {
      color: utils.$firstColor;
      background-color: utils.$lightColor;
    }
  }
}