@use "../utilities/" as utils;

.container {
  @include utils.flexLayout(column, center, center);

  .section-title {
    margin-bottom: 1em;
    font-family: var(--light-font);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .transactions, .options {
    width: 90%;
  }

  .transactions {
    &__item {
      @include utils.flexLayout(row, space-between, center);
      border-bottom: 1px solid utils.$firstColor;

      &-name {
        font-size: 1.8rem;
        font-family: var(--medium-font);
      }

      &-amount {
        @include utils.flexLayout(row, center, center);

        &-text {
          font-size: 1.8rem;
          font-family: var(--medium-font);
        }

        &-btn {
          font-size: 1.8rem;
          border: none;
          background: none;
          color: utils.$firstColor;
          padding: 1.5em;
          padding-right: 0;
          transform: translateY(2px);
          cursor: pointer;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &--income {
        .transactions__item-name, .transactions__item-amount-text {
          color: utils.$greenColor;

          i {
            color: var(--lightColor);
          }
        }
      }

      &--expense {
        .transactions__item-name, .transactions__item-amount-text {
          color: utils.$redColor;

          i {
            color: var(--lightColor);
          }
        }
      }
    }
  }

  .options {
    &__balance {
      margin-bottom: .5em;
      font-size: 6rem;
      text-align: center;
    }

    &__controls {
      @include utils.flexLayout(column, center, center);
      gap: 1em;
      margin-bottom: 3em;

      &-btn {
        width: 180px;
        padding: 1em;
        border: 2px solid var(--lightColor);
        border-radius: 8px;
        background: none;
        color: var(--lightColor);
        font-size: 1.6rem;
        transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
        cursor: pointer;

        i {
          margin-right: .25em;
        }

        &:hover {
          color: var(--darkColor);
        }

        &:focus {
          outline: none;
          border-color: utils.$firstColor;
        }

        &--add {
          &:hover {
            border-color: var(--lightColor);
            background-color: var(--lightColor);            
          }
        }

        &--deleteAll {
          &:hover {
            border-color: utils.$redColor;
            background-color: utils.$redColor;
          }
        }
      }
    }
   
    &__style {
      &-selection {
        @include utils.flexLayout(column, center, center);
        margin-bottom: 3em;
      }

      &-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      &-button {
        padding: 2em;
        border: 2px solid var(--lightColor);
        border-radius: 50%;
        transition: transform 300ms ease;
        cursor: pointer;

        &--light {
          background-color: utils.$lightColor;
        }

        &--dark {
          background-color: utils.$darkColor;
        }

        &:hover {
          transform: scale(1.1);
        }

        &:focus {
          outline: none;
          border-color: utils.$firstColor;  
        }
      }
    }
  }

  .incomes-box, .expenses-box {
    margin-bottom: 2em;
    padding: 1em;
    border: 2px solid utils.$firstColor;
    border-radius: 8px;

    &__title {
      margin-bottom: .5em;
      text-align: center;
      font-size: 2.4rem;
      font-family: var(--bold-font);
    }
  }

  .incomes-box__title {
    color: utils.$greenColor;
  }

  .expenses-box__title {
    color: utils.$redColor;
  }
}