@use "../utilities/" as utils;

.transaction-panel {
  //display: none;
  @include utils.flexLayout(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, utils.$secondColor 0%, utils.$thirdColor 75%);
  transform: translateX(102%);
  transition: transform 300ms ease-in-out;
  z-index: 10;

  &.active {
    transform: translateX(0);
  }

  &__xmark {
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 1em;
    background: none;
    border: 2px solid transparent;
    border-radius: 10px;
    z-index: 11;
    cursor: pointer;
    
    i {
      color: utils.$textColor;
      font-size: 3rem;
      transition: transform 300ms ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    &:focus {
      outline: none;
      border: 2px solid utils.$textColor;
    }
  }

  &__form {
    @include utils.flexLayout(column, center, center);
    width: 90%;

    .section-title {
      margin-bottom: 1.2em;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }

  &__control-box {
    @include utils.flexLayout(column, center, center);
    margin-bottom: 1em;
    width: 90%;
  }

  &__label {
    margin-bottom: .25em;
  }

  small {
    margin-bottom: .75em;
    font-style: italic;
    text-align: center;
  }

  &__input, &__select, &__button {
    padding: .5em 1em;
    border: 2px solid utils.$textColor;
    border-radius: 10px;
    background: none;
    color: utils.$textColor;
    font-family: var(--regular-font);
    font-size: 1.6rem;

    &:focus {
      outline: none;
    }
  }

  &__input, &__box, &__buttons {
    width: 100%;
  }

  &__input {
    &--error {
      border-color: utils.$redColor;
    }
  }

  &__box {
    position: relative;
  }
  
  &__select {
    width: 100%;
    color: utils.$textColor;
    appearance: none;
    cursor: pointer;

    &-option-text {
      color: utils.$thirdColor;
    }
  }
  
  &__arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: .5em 1em;
    background: linear-gradient(to right bottom, utils.$secondColor 0%, utils.$thirdColor 75%);
    color: utils.$textColor;
    border: 2px solid utils.$textColor;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
  }

  &__error {
    display: none;
    margin-top: .15em;
    color: utils.$redColor;
    font-size: 1.4rem;
  }

  &__buttons {
    @include utils.flexLayout(row, space-evenly, center);
  }

  &__button {
    cursor: pointer;
    transition: background-color 300ms ease, color 300ms ease;

    &:focus, &:hover {
      background-color: utils.$textColor;
      color: utils.$bgColor;
    }
  }
}